* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
img {
    height: 100vh;
    max-width: 100%;
    z-index: 0;
}
.frase, a {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
a {
    font-size: 50px;
}